.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .count {
        font-size: 2rem;
        padding: 1rem;
    }

    .controls {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 200px;
    }

    .button {
        padding: 1rem 0.5rem;
        width: 50px;
    }

    .success {
        color: green;
    }

    .error {
        color: red;
    }
}