.ArticleListContainer {

  a {
    text-decoration: none;
  }

  .ArticleList {
    padding: 16px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    position: relative;
    bottom: 0;
    display: flex;
    height: 192px;
    width: 70%;

    :not(:first-child) {
      margin-top: -5px;
    }

    &:hover{
      cursor: pointer;
      box-shadow: 0 8px 24px rgba(0,0,0,.12);
      bottom: 3px;
    }

    .article_content {
      display: flex;
      flex-direction: column;
      padding: 0 24px 0 0;
      width: 100%;
      height: 182px;

      .article_content_title {
        line-height: 150%;
        margin: 0;
        color: #58007b;
        width: 80%;
        margin-bottom: 1rem;
      }

      .article_content_annotation {
        color: #737373;
        line-height: 150% !important;
      }

      .article_content_footer {
        display: flex;
        align-items: center;
        margin-top: auto;

        .article_content_date {
          margin-right: 32px;
          font-size: 12px;
          font-family: Roboto, sans-serif !important;
          color: #4a4a4a !important;
          line-height: 27px !important;
        }
      }
    }

    .article_image {
      overflow: hidden;
      border-radius: 8px;

      img {
        max-width: 288px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .ArticleListContainer,
  .ArticleList,
  .article_content {
    max-width: calc(100% - 269px);

    .article_content_title {
      font-size: 16px;
    }

    .article_image {
      max-width: 245px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .ArticleListContainer {
    .ArticleList {
      .article_content {
        .article_content_annotation {
          display: none;
        }
      }
    }
  }
}
