.ActualContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;

  .Actual {
    width: 100%;

    .actual_header {
      padding-left: 16px;
      margin: 0 0 24px;
      display: inline-block;
      font-weight: 600;
      font-size: 32px;
      letter-spacing: 1.5px;
      background: linear-gradient(228.3deg, #9c01ff 2.74%, rgba(193, 103, 235, 0) 104.24%),
      radial-gradient(631.92% 1262.09% at 2.82% 100%, #ff01ff 0, #58007b 72.4%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    .actual {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }


}
