.header_bottom {
  width: 100%;
  height: 140px;
  background: url('/assets/images/menu-bg.png') no-repeat;
  background-size: 102% 100%;
  z-index: 50;
  display: flex;
  justify-content: center;

  .header_bottom_main{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    width: 60%;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      margin: 16px 0;


      .nav_link a {
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        transition: all 0.3s;
        font-weight: 700;
        letter-spacing: 0.3px;
        font-size: 17px;
        cursor: pointer;

        .nav_link_img{
          height: auto;
          width: 62%;
        }

        &:hover{
          color: #ff01ff
        }
      }

    }
  }
}
